body {
    background-color: #C4B5FD;
    text-align: center;
    color: black ;
}

.container {
    background-color: #C4B5FD;
    border: 0.1rem solid whitesmoke;
    margin: 1rem;

}

input {
    display: block;
    margin: 1rem auto;
}

button {
    margin: 0.5rem;
    padding: 0.5rem 0.5rem;
    width: 6rem;
    background-color:  #8B5CF6;
    border-radius: 0.5rem;
    font-size: medium;
}
#birthday-msg {
    padding: 1rem;;
    font-size: 2rem;
    color: #4C1D95;
}